.rightbar {
  flex: 3;
  height: calc(100vh-50px);
}

.rightbarWrapper {
  padding: 20px;
}

.birthdayContainer {
  display: flex;
  align-items: center;
}

.birthdayImage {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}

.birthdayText {
  font-size: 15px;
  font-weight: 400;
}

.rightbarAd {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

.rightbarFriendList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.rightbarTitle {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.rightbarInfo {
  margin-bottom: 30px;
}
.rightbarInfoItem {
  margin-bottom: 10px;
}
.rightbarInfoKey{
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}
.rightbarInfoValue{
  font-weight: 300;
}

.rightbarFollowings{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.rightbarFollowing{
  display: flex;
  flex-direction: column;
  margin: 10px; 
}

.rightbarFollowingImage {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}
